.cover {
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 92px 48px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0;
        max-height: 640px;

    }
    
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 67px 0;
    }
    
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 64px;
    }
    
}