.cover__title {
    max-width: 560px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    z-index: 2;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 228px;
        font-size: 32px;
        line-height: 35px;
        
    }
    
}