.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding: 0 18px 24px;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin: 0;
        padding: 0 24px 24px;
        
    }
    
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 0;
        padding: 0 16px;
        
    }
    
}

@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
    }
  }